name: Run tests

on:
  push:

jobs:
  linux:
    name: Linux test
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0
      - name: Install Zulu JDK 7
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: '7'
          cache: maven
      - name: Setup Temurin JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '21'
          cache: maven
      - name: Build (mvn verify on native linux/amd64)
        run: |
          ./mvnw -B -V \
            -Darch.id=amd64 \
            -Dnative.cc=gcc \
            verify
